Source: statsd
Section: devel
Priority: optional
Maintainer: Manish Singh <manish@rd.io>
Standards-Version: 3.9.1

Package: statsd
Architecture: all
Depends: nodejs
Description: Stats aggregation daemon
  A network daemon for aggregating statistics (counters and timers),
  rolling them up, then sending them to graphite.
